#hib-home {
    padding: 0px;
}

#hib-home-top {
    background-image: url('../images/background-home.jpg');
}

#hib-home-top {
    text-align: right;
}

#hib-home-top > div {
    max-width: 1200px;
    margin-right: 105px;
}

#hib-home-top h1,
#hib-home-top h2 {
    float: right;
    width: 100%;
}

#hib-home-top h1 {
    color: white;
    font-size: 60px;
    margin-bottom: 15px;
}

#hib-home-top h2 {
    color: white;
    font-size: 45px;
    margin-bottom: 30px;
}

@media (min-width: 820px) {
    #hib-home-top h2 {
        width: 550px;
    }
}

@media (max-width: 819px) {
    #hib-home-top {
        text-align: center;
    }

    #hib-home-top h1, #hib-home-top h2, #hib-home-top a {
        float: none !important;
    }

    #hib-home-top > div {
        margin: 30px auto 0 auto;
    }
}

@media (max-width: 415px) {
    #hib-home-top h1 {
        font-size: 48px;
    }

    #hib-home-top h2 {
        font-size: 36px;
    }
}

#hib-home-top a {
    float: right;
}

#hib-home-description {
    margin-bottom: 144px;
    max-width: 1200px;
}

#hib-home-description div p span {
    font-weight: bold;
    color: #9B0926;
}

@media (min-width: 675px) {
    #hib-home-description > div:nth-child(1) {
        padding-right: 50px;
    }
}

#hib-home-description > div:nth-child(1) > p,
#hib-home-description > div:nth-child(1) > p > span {
    margin: 0;
}

#hib-home-description > div:nth-child(2) {
    max-width: 500px;
}

#hib-home-description > div:nth-child(2) > img {
    width: 100%;
}

@media (min-width: 1150px) {
    #hib-home-description > div:nth-child(1) > p,
    #hib-home-description > div:nth-child(1) > p > span {
        font-size: 30px;
    }
}

@media (min-width: 1000px) and (max-width: 1149px) {
    #hib-home-description > div:nth-child(1) > p,
    #hib-home-description > div:nth-child(1) > p > span {
        font-size: 24px;
    }
}

@media (min-width: 850px) and (max-width: 999px) {
    #hib-home-description > div:nth-child(1) > p,
    #hib-home-description > div:nth-child(1) > p > span {
        font-size: 20px;
    }
}

@media (max-width: 849px) {
    #hib-home-description > div:nth-child(1) > p,
    #hib-home-description > div:nth-child(1) > p > span {
        font-size: 18px;
    }
}

@media (max-width: 675px) {
    #hib-home-description > div:nth-child(1) {
        text-align: center;
    }

    #hib-home-description > div:nth-child(2) {
        display: none !important;
    }
}

#hib-home-features-title {
    color: #9b0926;
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
}

#hib-home-features {
    margin: 0 auto 100px auto;
    max-width: 1000px;
    font-size: 18px;
}

.calyx-icon {
    height: 20px;
    float: left;
    padding-right: 5px;
    margin-top: 2px;
}

#hib-home-bottom {
    text-align: center;
    margin-bottom: 144px;
}

#hib-home-bottom-buttons button {
    width: 150px;
}

#hib-home-bottom-text {
    margin-bottom: 20px;
}

/* Home Page - Use Cases Section */

#hib-home-use-cases {
    margin: 144px 0;
    padding: 100px 50px;
    background-color: #B15160;
}

#hib-home-use-cases > .col {
    max-width: 900px;
}

#hib-home-use-cases h1 {
    color: white;
}

#hib-home-use-cases .icon {
    text-align: center;
}

#hib-home-use-cases .icon > span > i {
    font-size: 68px;
    color: #9B0926;
}

#logo-text {
    color: black;
    margin-top: 12px;
    text-align: center;
    font-family: "AvenirNext-DemiBold", sans-serif !important;
    width: 100%;
}

#hib-features-banner {
    margin-bottom: 144px;
    padding: 50px 16px;
}

#hib-features-banner .contents {
    margin: 0 auto;
    max-width: 1200px;
}

#hib-home-features {
    padding: 0 16px;
}

#hib-food-applications {
    margin-bottom: 144px;
    text-align: center;
}

#hib-food-applications h1 {
    color: #9B0926;
    margin: 0 auto 30px auto;
}

#hib-food-applications .col {
    padding: 0;
}

#hib-food-applications .col > .row > .col {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 144px 0;
}

#hib-food-applications h3 {
    color: white;
}

#hib-food-applications .col > .row > .col:nth-child(1) {
    background-image: url("../images/beverages.jpg");
}

#hib-food-applications .col > .row > .col:nth-child(2) {
    background-image: url("../images/frozen-dessert.jpg");
}

#hib-food-applications .col > .row > .col:nth-child(3) {
    background-image: url("../images/yogurt.jpg");
}

#hib-food-applications .col > .row > .col:nth-child(4) {
    background-image: url("../images/cocktails.jpg");
}

#hib-food-applications .col > .row > .col:nth-child(5) {
    background-image: url("../images/supplements.jpg");
}
