#hib-home {
    padding: 0px;
}

#hib-home-top {
    background-image: url('../images/background-home.jpg');
}

#hib-home-top {
    text-align: right;
}

#hib-home-top > div {
    max-width: 1200px;
    margin-right: 105px;
}

#hib-home-top h1,
#hib-home-top h2 {
    float: right;
    width: 100%;
}

#hib-home-top h1 {
    color: white;
    font-size: 60px;
    margin-bottom: 15px;
}

#hib-home-top h2 {
    color: white;
    font-size: 45px;
    margin-bottom: 30px;
}

@media (min-width: 1176px) {
    #hib-home-top h2 {
        padding-left: 50%;
    }
}

@media (min-width: 940px) and (max-width: 1175px) {
    #hib-home-top h2 {
        padding-left: 35%;
    }
}

@media (min-width: 820px) and (max-width: 939px) {
    #hib-home-top > div {
        margin-right: 45px;
    }
    
    #hib-home-top h2 {
        padding-left: 30%;
    }
}

@media (max-width: 819px) {
    #hib-home-top {
        text-align: center;
    }
    
    #hib-home-top h1, #hib-home-top h2, #hib-home-top a {
        float: none !important;
    }
    
    #hib-home-top > div {
        margin: 30px auto 0 auto;
    }
}

@media (max-width: 415px) {
    #hib-home-top h1 {
        font-size: 48px;
    }
    
    #hib-home-top h2 {
        font-size: 36px;
    }
}

#hib-home-top a {
    float: right;
}

#hib-home-description {
    margin-bottom: 144px;
    max-width: 1200px;
}

#hib-home-description div p span {
    font-weight: bold;
    color: #9B0926;
}

@media (min-width: 675px) {
    #hib-home-description > div:nth-child(1) {
        padding-right: 50px;
    }
}

#hib-home-description > div:nth-child(1) > p,
#hib-home-description > div:nth-child(1) > p > span {
    margin: 0;
}

#hib-home-description > div:nth-child(2) {
    max-width: 500px;
}

#hib-home-description > div:nth-child(2) > img {
    width: 100%;
}

@media (min-width: 1150px) {
    #hib-home-description > div:nth-child(1) > p,
    #hib-home-description > div:nth-child(1) > p > span {
        font-size: 30px;
    }
}

@media (min-width: 1000px) and (max-width: 1149px) {
    #hib-home-description > div:nth-child(1) > p,
    #hib-home-description > div:nth-child(1) > p > span {
        font-size: 24px;
    }
}

@media (min-width: 850px) and (max-width: 999px) {
    #hib-home-description > div:nth-child(1) > p,
    #hib-home-description > div:nth-child(1) > p > span {
        font-size: 20px;
    }
}

@media (max-width: 849px) {
    #hib-home-description > div:nth-child(1) > p,
    #hib-home-description > div:nth-child(1) > p > span {
        font-size: 18px;
    }
}

@media (max-width: 675px) {
    #hib-home-description > div:nth-child(1) {
        text-align: center;
    }
    
    #hib-home-description > div:nth-child(2) {
        display: none !important;
    }
}

#hib-home-features-title {
    color: #9b0926;
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
}

#hib-home-features {
    margin: 0 auto 144px auto;
    max-width: 1000px;
    font-size: 18px;
}

.calyx-icon {
    height: 20px;
    float: left;
    padding-right: 5px;
    margin-top: 2px;
}

#hib-home-bottom {
    text-align: center;
    margin-bottom: 144px;
}

#hib-home-bottom-buttons button {
    width: 150px;
}

#hib-home-bottom-text {
    margin-bottom: 20px;
}

/* Home Page - Use Cases Section */

#hib-home-use-cases {
    margin: 100px 0;
    padding: 100px 50px;
    background-color: lightgray;
}

#hib-home-use-cases > .col {
    margin: 0 auto 0 0;
    max-width: 700px;
}

#hib-home-use-cases h1 {
    color: #9B0926;
}

#hib-home-use-cases > .col > .row:nth-child(3) > .icon {
    border-radius: 50%;
    text-align: center;
    width: 112px;
    height: 112px;
    transition: 0.5s all;
}

#hib-home-use-cases > .col > .row:nth-child(3) > .icon.active {
    background-color: rgba(155, 9, 38, 0.25);
}

#hib-home-use-cases > .col > .row:nth-child(3) > .icon:not(.active):hover {
    background-color: rgba(155, 9, 38, 0.1);
}

#hib-home-use-cases > .col > .row:nth-child(3) > .icon > span > i {
    font-size: 68px;
    padding: 22px 0;
    color: rgba(155, 9, 38, 0.5);
    transition: 0.5s all;
}

#hib-home-use-cases > .col > .row:nth-child(3) > .arrow {
    height: 112px;
    padding: 40px 5px;
}

#hib-home-use-cases > .col > .row:nth-child(3) > .arrow > span > i {
    font-size: 32px;
    color: #9B0926;
}

#hib-home-use-cases > .col > .row:nth-child(3) > .icon.active > span > i {
    color: #9B0926;
}

#hib-home-use-cases > .col > .row:nth-child(3) > .icon:hover > span > i {
    color: rgba(155, 9, 38, 0.75);
}