h1 {
    color: white;
}

#hib-contact-us {
    padding: 0px;
}

#hib-contact-up-top {
    margin-bottom: 144px;
    background-image: url(masthead-contact-hibiscus.jpg);
    height: 500px;
    text-align: center;
}

#hib-contact-us-about {
    max-width: 960px;
    text-align: center;
    margin-bottom: 144px;
}

#hib-contact-us-buttons {
    max-width: 900px;
    text-align: center;
    margin-bottom: 144px;
}

#hib-contact-submit{
  padding-top: 20px
}

#hib-input-forms {
    max-width: 600px;
    margin-bottom: 144px;
}

#hib-form-input{
  display:flex;
}

#hib-form-input-padding-page-two {
  padding-bottom: 50px;

}

#form-row-1,
#form-row-3,
#form-row-4,
#form-row-6,
#form-row-7,
#form-row-8,
#form-row-9 {
    margin-bottom: 10px;
}

#form-row-2,
#form-row-5 {
    margin-bottom: 50px;
}

.btn.btn-primary.disabled {
    background-color: grey;
    border: 2px solid grey;
}