#hib-contact-us {
    padding: 0px;
}

#hib-contact-up-top {
    margin-bottom: 144px;
    height: 500px;
    text-align: center;
    
    background-image: url(masthead-contact-hibiscus.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#hib-contact-us-about {
    max-width: 700px;
    text-align: center;
    margin-bottom: 144px;
}

#hib-contact-us-about p {
    margin-bottom: 15px;
}

#hib-contact-us-buttons {
    text-align: center;
    margin-bottom: 144px;
    flex-grow: 0;
}

#hib-contact-submit{
  padding-top: 20px;
}

#hib-inquiry-form-outer {
    display: block;
}

#hib-request-form-outer {
    display: none;
}

#hib-inquiry-form, #hib-request-form {
    max-width: 700px;
    margin-bottom: 144px;
    margin: 0 auto 144px auto;
}

#hib-form-input{
  display:flex;
}

#hib-form-input-padding-page-two {
  padding-bottom: 50px;

}

@media (min-width: 768px) {
    .form-row {
        margin-bottom: 16px !important;
    }
}

@media (max-width: 767px) {
    .form-row {
        margin-bottom: 0 !important;
    }
    
    .form-group {
        margin-bottom: 16px !important;
    }
}

.form-break {
    height: 50px;
}

.btn:focus,.btn.btn-primary.disabled {
   outline: none !important;
   box-shadow: none;
}

.btn.btn-primary.disabled:active {
  color: white;
  border: 2px solid grey !important;
  background-color: grey !important;
}
.btn.btn-primary.disabled {
    background-color: grey;
    border: 2px solid grey;
}

.btn-contact-toggle {
    background-color: #B15160;
    border: 2px solid #9B0926;
    color: white;
    width: 200px;
}

@media (max-width: 375px) {
    .btn-contact-toggle span {
        font-size: 14px;
    }
}

.btn-contact-toggle:hover {
    background-color: #A2203A;
    color: white;
}

.btn-contact-toggle.active {
    background-color: #9B0926;
}

.btn-contact-toggle:not(.active) {
    cursor: pointer;
}

.btn-contact-toggle.focus {
    outline: none;
    box-shadow: none;
}

#hib-contact-submit-inquiry.disabled, #hib-contact-submit-request.disabled {
    cursor: not-allowed;
}

.form-asterisk {
    color: #B15160;
}

#form-request-disclaimer {
    font-size: 12px;
    font-style: italic;
    padding: 0 5px;
}