h1 {
    color: white;
    font-size: 85px;
}

#hib-contact-us {
    padding: 0px;
}

#hib-contact-up-top {
    margin-bottom: 144px;
    background-image: url(masthead-contact-hibiscus.jpg);
    height: 500px;
    text-align: center;
}

#hib-contact-us-about {
    max-width: 960px;
    text-align: center;
    margin-bottom: 144px;
}

#hib-contact-us-buttons {
    text-align: center;
    margin-bottom: 144px;
    flex-grow: 0;
}

#hib-contact-submit{
  padding-top: 20px
}

#hib-inquiry-form-outer {
    display: block;
}

#hib-request-form-outer {
    display: none;
}

#hib-inquiry-form, #hib-request-form {
    max-width: 600px;
    margin-bottom: 144px;
    margin: 0 auto 144px auto;
}

#hib-form-input{
  display:flex;
}

#hib-form-input-padding-page-two {
  padding-bottom: 50px;

}

#form-row-1,
#form-row-3,
#form-row-4,
#form-row-6,
#form-row-7,
#form-row-8,
#form-row-9 {
    margin-bottom: 10px;
}

#form-row-2,
#form-row-5 {
    margin-bottom: 50px;
}

.btn.btn-primary.disabled {
    background-color: grey;
    border: 2px solid grey;
}

.btn-contact-toggle {
    background-color: #B15160;
    border: 2px solid #9B0926;
    color: #FFFFFF;
    width: 175px;
}

.btn-contact-toggle:hover {
    background-color: #A2203A;
    color: #FFFFFF;
}

.btn-contact-toggle.active {
    background-color: #9B0926;
}

.btn-contact-toggle:not(.active) {
    cursor: pointer;
}

.btn-contact-toggle.focus {
    outline: none;
    box-shadow: none;
}

#hib-contact-submit-inquiry.disabled, #hib-contact-submit-request.disabled {
    cursor: not-allowed;
}
