#hib-home {
    padding: 0px;
}

#hib-home-top {
    background-image: url(masthead-hibiscus-v4-2-1920x500_c.jpg);
}

#hib-home-top {
    text-align: right;
}

#hib-home-top > div {
    max-width: 1200px;
    margin-right: 105px;
}

#hib-home-top h1 {
    color: white;
    font-size: 60px;
    margin-bottom: 15px;
    
    float: right;
    width: 100%;
}

#hib-home-top h2 {
    color: white;
    font-size: 48px;
    margin-bottom: 30px;
    
    float: right;
    width: 100%;
}

@media (min-width: 1176px) {
    #hib-home-top h2 {
        padding-left: 50%;
    }
}

@media (min-width: 940px) and (max-width: 1175px) {
    #hib-home-top h2 {
        padding-left: 35%;
    }
}

@media (min-width: 820px) and (max-width: 939px) {
    #hib-home-top > div {
        margin-right: 45px;
    }
    
    #hib-home-top h2 {
        padding-left: 30%;
    }
}

@media (max-width: 819px) {
    #hib-home-top {
        text-align: center;
    }
    
    #hib-home-top h1, #hib-home-top h2, #hib-home-top a {
        float: none !important;
    }
    
    #hib-home-top > div {
        margin: 30px auto 0 auto;
    }
}

@media (max-width: 415px) {
    #hib-home-top h1 {
        font-size: 48px;
    }
    
    #hib-home-top h2 {
        font-size: 36px;
    }
}

#hib-home-top a {
    float: right;
}

#hib-home-description {
    margin-top: 144px;
    margin-bottom: 72px;
    max-width: 1200px;
}

#hib-home-description div p span {
    font-weight: bold;
    color: #9B0926;
}

@media (min-width: 675px) {
    #hib-home-description > div:nth-child(1) {
        padding-right: 50px;
    }
}

#hib-home-description > div:nth-child(1) > p,
#hib-home-description > div:nth-child(1) > p > span {
    margin: 0;
}

#hib-home-description > div:nth-child(2) {
    max-width: 500px;
}

#hib-home-description > div:nth-child(2) > img {
    width: 100%;
}

@media (min-width: 1150px) {
    #hib-home-description > div:nth-child(1) > p,
    #hib-home-description > div:nth-child(1) > p > span {
        font-size: 30px;
    }
}

@media (min-width: 1000px) and (max-width: 1149px) {
    #hib-home-description > div:nth-child(1) > p,
    #hib-home-description > div:nth-child(1) > p > span {
        font-size: 24px;
    }
}

@media (min-width: 850px) and (max-width: 999px) {
    #hib-home-description > div:nth-child(1) > p,
    #hib-home-description > div:nth-child(1) > p > span {
        font-size: 20px;
    }
}

@media (max-width: 849px) {
    #hib-home-description > div:nth-child(1) > p,
    #hib-home-description > div:nth-child(1) > p > span {
        font-size: 18px;
    }
}

@media (max-width: 675px) {
    #hib-home-description > div:nth-child(1) {
        text-align: center;
    }
    
    #hib-home-description > div:nth-child(2) {
        display: none !important;
    }
}

#hib-home-use-cases {
    margin-bottom: 144px;
    max-width: 1200px;
}

#hib-home-use-cases div {
    display: block;
}

@media (min-width: 1075px) {
    #hib-home-use-cases > div:nth-child(1),
    #hib-home-use-cases > div:nth-child(2),
    #hib-home-use-cases > div:nth-child(3),
    #hib-home-use-cases > div:nth-child(4),
    #hib-home-use-cases > div:nth-child(5) {
        flex: 0 0 20%;
    }
}

@media (min-width: 475px) and (max-width: 1074px) {
    #hib-home-use-cases {
        max-width: 650px;
    }
    
    #hib-home-use-cases > div:nth-child(1),
    #hib-home-use-cases > div:nth-child(2),
    #hib-home-use-cases > div:nth-child(3),
    #hib-home-use-cases > div:nth-child(4),
    #hib-home-use-cases > div:nth-child(5) {
        flex: 0 0 33%;
    }
    #hib-home-use-cases > div:nth-child(4) {
        margin-top: 30px;
        margin-right: 0;
    }
    #hib-home-use-cases > div:nth-child(5) {
        margin-top: 30px;
        margin-left: 0;
    }
}

@media (max-width: 474px) {
    #hib-home-use-cases > div:nth-child(1),
    #hib-home-use-cases > div:nth-child(2),
    #hib-home-use-cases > div:nth-child(3),
    #hib-home-use-cases > div:nth-child(4),
    #hib-home-use-cases > div:nth-child(5) {
        flex: 0 0 50%;
    }
    
    #hib-home-use-cases > div:nth-child(3),
    #hib-home-use-cases > div:nth-child(4),
    #hib-home-use-cases > div:nth-child(5) {
        margin-top: 15px;
    }
}

#hib-home-features-title {
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
}

#hib-home-features {
    margin: 0 auto 144px auto;
    max-width: 1000px;
    font-size: 18px;
}

.calyx-icon {
    height: 20px;
    float: left;
    padding-right: 5px;
    margin-top: 2px;
}

#hib-home-bottom {
    text-align: center;
    margin-bottom: 144px;
}

#hib-home-bottom-buttons button {
    width: 150px;
}

#hib-home-bottom-text {
    margin-bottom: 20px;
}

#hib-home-use-cases .col {
    text-align: center;
}

#hib-home-use-cases .col i {
    width: 100%;
    font-size: 72px;
    margin-bottom: 5px;
}