#hib-home {
    padding: 0px;
}

#hib-home-top {
    max-width: 1200px;
}

#hib-home-top-left {
    height: 480px;
}

#hib-home-top-text {
    position: relative;
    text-align: right;
}

#hib-home-top-text h1 {
    color: white;
    font-size: 60px;
    margin-bottom: 15px;
}

#hib-home-top-text h2 {
    color: white;
    font-size: 48px;
    margin-bottom: 30px;
}


#hib-home-use-cases {
    margin-top: 144px;
    max-width: 1200px;
    text-align: center;
    margin-bottom: 144px;
}

@media (min-width: 577px) {
    #hib-home-use-cases .row .col-3 {
        min-width: 25%;
    }
}

@media (max-width: 576px) {
    #hib-home-use-cases .row .col-3 {
        min-width: 50%;
    }
}

@media (max-width: 300px) {
    #hib-home-use-cases .row .col-3 i {
        font-size: 48px;
    }
    #hib-home-use-cases .row .col-3 h4 {
        font-size: 16px;
    }
}

.hib-home-section-title {
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
}

#hib-home-features-list {
    margin: 0 auto 144px auto;
    max-width: 1000px;
    font-size: 18px;
}

#hib-home-features-list .col-4 {
    min-height: 100px;
}

#hib-home-features-list .col-4:last-child {
    min-height: 0 !important;
}

.calyx-icon {
    height: 20px;
    float: left;
    padding-right: 5px;
    margin-top: 2px;
}

#hib-home-bottom {
    text-align: center;
    margin-bottom: 144px;
}

#hib-home-bottom-buttons button {
    width: 150px;
}

#hib-home-bottom-text {
    margin-bottom: 20px;
}

#hib-home-bottom-buttons :first-child {
    margin-right: 20px;
}