h1 {
    color: white;
}

.hib-container {
	padding: 0px;
}

a.nav-link:visited{
  color: #B15160;

}

a.nav-link:link{
  color: #B15160;

}

#hib-products-descriptions-tabs-left{
  width:420px;
}
#hib-products-top {
    margin-bottom: 144px;
    text-align: center;
    height: 500px;
    background-image: url(masthead-products.jpg);
}

#hib-products-top h1 {
	position:relative;
  font-size: 85px;
	top: 50%;
	transform: translateY(-50%);
}

#hib-products-bottom-buttons button {
	width: 175px !important;
}

#hib-products-descriptions {
	max-width: 960px;
	text-align: center;
	margin-bottom: 144px;
}

.hib-products-descriptions-image {
	margin: 50px;
	height: 450px;
	overflow-y: hidden;
}

.hib-products-descriptions-image img {
	width: 100%;
}

#hib-products-descriptions h3 {
	margin-top: 20px;
	margin-bottom: 30px;
}

.hib-products-descriptions-tabs-content {
	background-color: lightgrey;
	padding: 10px 20px;
	text-align: left;
	height: 100px;
}

#hib-products-bottom {
    max-width: 600px;
    text-align: center;
    margin-bottom: 144px;
}

#hib-products-bottom-buttons button {
    width: 150px;
}

#hib-products-bottom-text {
    margin-bottom: 20px;
}

#hib-products-bottom-buttons :first-child {
    margin-right: 20px;
}
