h1 {
    color: white;
}

.hib-container {
	padding: 0px;
}

#hib-products-top {
    background-image: url(masthead-products.jpg);
}

#hib-products-top h1 {
	position:relative;
	top: 50%;
	transform: translateY(-50%);
}

#hib-products-bottom-buttons button {
	width: 175px !important;
}

#hib-products-descriptions {
	max-width: 1200px;
	text-align: center;
	margin-bottom: 144px;
}

#hib-products-descriptions .row:nth-child(1) {
    margin-bottom: 60px;
}

.hib-products-descriptions-image {
	overflow-y: hidden;
}

@media (min-width: 768px) {
    .hib-products-descriptions-image img {
        width: 100%;
        padding-left: 48px;
    }
}

@media (min-width: 400px) and (max-width: 767px) {
    .hib-products-descriptions-image img {
        width: 75%;
        padding: 0;
    }
}

@media (max-width: 399px) {
    .hib-products-descriptions-image img {
        width: 100%;
        padding: 0;
    }
}

@media (min-width: 768px) {
    #hib-products-descriptions h2 {
        text-align: left;
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    #hib-products-descriptions h2 {
        text-align: left;
        margin-top: 30px;
        margin-bottom: 15px;
        text-align: center;
    }
}

#hib-products-bottom {
    text-align: center;
    margin-bottom: 144px;
}

#hib-products-bottom-buttons button {
    width: 150px;
}

#hib-products-bottom-text {
    margin-bottom: 20px;
}

#hib-products-descriptions .row .col-md-7 p {
    text-align: left;
}