@font-face {
    font-family: "AvenirNext-Bold";
    src: url('fonts/AvenirNext-Bold-01.ttf') format('ttf'),
         url('fonts/AvenirNext-Bold-01.woff') format('woff');
}

@font-face {
    font-family: "AvenirNext-DemiBold";
    src: url('fonts/AvenirNext-DemiBold-06.ttf') format('ttf'),
         url('fonts/AvenirNext-DemiBold-06.woff') format('woff');
}

@font-face {
    font-family: "AvenirNext-Regular";
    src: url('fonts/AvenirNext-Regular-08.ttf') format('ttf'),
         url('fonts/AvenirNext-Regular-08.woff') format('woff');
}

* {
	padding: 0px;
	margin: 0px;
}

h1 {
    color: white;
    font-family: "AvenirNext-Bold", sans-serif;
}

h2, h3, h4 {
	color: black;
	font-family: "AvenirNext-DemiBold", sans-serif;
}

p, span, a, label, button {
    font-family: "AvenirNext-Regular", sans-serif;
    font-size: 18px;
}

i {
    color: #9B0926;
}

#hib-header {
	background-color: #FFFFFF;
    border-bottom: 1px solid #EAEAEA;
}

#hib-header .navbar a {
    text-decoration: none;
    text-align: center;
}

#hib-home-bottom-buttons button {
	width: 175px !important;
}

.btn-primary{
	background-color:#B15160;
	border: 2px solid #9B0926;
	color: #FFFFFF;
	width: 175px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
	background-color: #9B0926;
	border: 2px solid #9B0926;
	color: #FFFFFF;
}

.btn-primary:active {
	background-color: #9B0926 !important;
    border: 2px solid #9B0926 !important;
    color: #FFFFFF !important;
}

#hib-all-style {
    background-color: #FFFFFF;
}

#hib-nav {
	padding-left: 0;
    padding-right: 0;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar-nav {
    margin: 0 0 0 auto;
}

.navbar-nav :not(:last-child) {
	margin-right: 60px;
}

@media (max-width: 767px) {
    .navbar-nav {
        padding-top: 20px;
    }
}

#hib-nav .nav-link {
    font-size: 18px;
    color: #989898;
}

#hib-nav .nav-link.active {
	color: #9B0926;
    font-weight: bold;
}

#hib-nav .nav-link:hover {
    color: #B15160;
}

.navbar-toggler {
    border: none;
}

.hib-container div {
	margin: 0 auto;
}

#hib-footer-container {
	background-color: #9B0926;
}

#hib-footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0px;
    color: white;
}

#hib-footer-left div,
#hib-footer-center div,
#hib-footer-right div {
	width: 100%;
}

#hib-footer-center {
	text-align: center;
}

#hib-footer-right {
    text-align: right;
}

#hib-footer p, #hib-footer a {
    margin: 0;
    font-size: 16px !important;
}

.hib-footer-link {
    color: #FFFFFF;
}

.hib-footer-link:hover {
    color: #E6E6E6;
    text-decoration: underline;
}

.text-link, .text-link:visited {
    color: #9B0926;
}

.text-link:hover {
    color: #B15160;
    text-decoration: underline;
}

#logo-text {
    color: black;
    margin: 5px 0 0 0;
    text-align: center;
    font-family: "AvenirNext-DemiBold", sans-serif !important;
}

#hib-home-bottom-buttons a:hover,
#hib-products-bottom-buttons a:hover{
    text-decoration: none;
}

@media (max-width: 384px) {
    #hib-home-bottom-buttons > a:nth-child(1) > button,
    #hib-products-bottom-buttons > a:nth-child(1) > button {
        margin-bottom: 5px;
    }
}

@media (min-width: 505px) and (max-width: 775px) {
    #hib-footer-left, #hib-footer-right {
        min-width: 50%;
    }
    
    #hib-footer-center {
        display: none !important;
    }
}

@media (max-width: 504px) {
    #hib-footer-left {
        min-width: 100%;
        text-align: center;
    }
    
    #hib-footer-center, #hib-footer-right {
        display: none !important;
    }
}

@media (min-width: 650px) {
    #hib-logo {
        height: 100px;
    }
    
    #logo-text {
        font-size: 10px !important;
    }
    
    .hib-container {
        margin-top: 116px;
    }
}

@media (max-width: 649px) {
    #hib-logo {
        height: 75px;
    }
    
    #logo-text {
        font-size: 7.5px !important;
    }
    
    .hib-container {
        margin-top: 109px;
    }
}

@media (min-width: 691px) {
    #hib-contact-up-top h1, #hib-products-top h1 {
        font-size: 100px;
    }
}

@media (min-width: 500px) and (max-width: 690px) {
    #hib-contact-up-top h1, #hib-products-top h1 {
        font-size: 72px;
    }
}

@media (max-width: 499px) {
    #hib-contact-up-top h1, #hib-products-top h1 {
        font-size: 48px;
    }
}

#hib-trademark-container {
    background-color: #B15160;
    padding: 10px 50px;
}

#hib-trademark {
    text-align: center;
    line-height: 1;
}

#hib-trademark span {
    color: white;
    font-size: 12px;
}