* {
	padding: 0px;
	margin: 0px;
	font-family: "Open Sans", sans-serif;
}

h1 {
	color: #9B0926;
	font-family: "Noto Sans HK", sans-serif;
	font-weight: bold;
}

h4 {
	font-family: "Poppins", sans-serif;
}

#hib-header {
	background-color: #FFFFFF;
}

#hib-home-bottom-buttons button {
	width: 175px !important;
}

.btn-primary{
	background-color:#B15160;
	border: 2px solid #9B0926;
	color: #FFFFFF;
	width: 175px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
	background-color: #9B0926;
	border: 2px solid #9B0926;
	color: #FFFFFF;
}

.btn-primary:active {
	background-color: #9B0926 !important;
    border: 2px solid #9B0926 !important;
    color: #FFFFFF !important;
}

#hib-all-style {
    background-color: #FFFFFF;
}

#hib-nav {
	max-width: 1200px;
    margin: 0 auto;

}

.navbar-nav {
    position: absolute;
    right: 46px;
}

.navbar-nav :not(:last-child) {
	margin-right: 60px;
}

#hib-nav .nav-link {
    font-size: 18px;
    color: #989898;
}

#hib-nav .nav-link.active {
	color: #9B0926;
}

#hib-nav .nav-link:hover {
    color: #B15160;
}

.hib-container {
	margin-top: 125px;
}

.hib-container div {
	margin: 0 auto;
}

#hib-footer-container {
	background-color: #B15160;
}

#hib-footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0px;
    color: white;
}

#hib-footer-left div,
#hib-footer-center div,
#hib-footer-right div {
	width: 100%;
}

#hib-footer-center {
	text-align: center;
}

#hib-footer-right {
    text-align: right;
}

#hib-footer p {
    margin: 0;
}

.hib-footer-link {
    color: #FFFFFF;
}

.hib-footer-link:hover {
    color: #E6E6E6;
    text-decoration: underline;
}

.text-link, .text-link:visited {
    color: #9B0926;
}

.text-link:hover {
    color: #B15160;
    text-decoration: underline;
}