* {
	padding: 0px;
	margin: 0px;
}

h1 {
  /* color:#750827; */
	color: #9B0926;
}

body {
	color:#B15160;
}

a:hover {
  color:#B15160;
}

.nav-item a:hover {
    color: #B15160 !important;
}

#hib-header {
	background-color: #FFFFFF;

}

.btn-primary{
	background-color:#B15160;
	border: 2px solid #9B0926;
	color: #FFFFFF;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  background-color: #9B0926;
	border: 2px solid #9B0926;
  color: #FFFFFF;
}



.btn-primary:active
{
	background-color: #9B0926 !important;
	border: 2px solid #9B0926 !important;
  color: #FFFFFF !important;
}


#hib-all-style{
		background-color: #FFFFFF;
	/* background-color: #F7EDEF; */
}

#hib-nav {
	padding: 32px 20px;
	max-width: 960px;
    margin: 0 auto;

}

.navbar-nav {
    position: absolute;
    right: 20px;
}

.nav-link active{
	color: #B15160;
}

.navbar-nav :not(:last-child) {
	margin-right: 20px;
}

.hib-container {
	margin-top: 200px;
}

.hib-container div {
	margin: 0 auto;
}

#hib-footer-container {
	background-color: darkslategrey;
}

#hib-footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0px;
    color: white;
}

#hib-footer-center {
    text-align: center;
}

#hib-footer-right {
    text-align: right;
}
